{{#each stations}}
<div class="box box-link-hover-shadow">
  <div class="columns">
    <div class="column is-one-fifth">
  <h2 class="title">
    {{name}} {{>icons/location}}
  </h2>
  </div>
  <div class="column is-auto">
  <h2 class="is-size-4">
  
{{latitude}} &degN
  <br>
{{longitude}} &degE
  </h2>
  </div>
</div>
  <h2>Latest Reading:</h2>
{{>weather-report}}

  <a href="/station/{{_id}}" class="button">
  {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">
  {{>icons/delete}}
  </a>
</div>
{{/each}}