{{#if noReadings}}
<h3 class="title is-4 has-text-centered">No Readings available for {{name}}</h3>
<br>
{{else}}

<table class="table is-fullwidth">
<thead>
    <tr>
      <th>Weather Code</th>
      <th>Temperature (&degC)</th>
      <th>Feels Like (&degC)</th>
      <th>Wind Speed (km/h)</th>
      <th>Wind Direction (&deg)</th>
      <th>Pressure (hPa)</th>
    </tr>
</thead>
<tbody>
    <td>
      <p class="icon is-large"><img src="{{openWeatherIcon latestReading.code}}"></p>
        <br>
        <p>{{codeToText latestReading.code}}</p>
        <br>
        {{latestReading.code}}
      </td>
      <td>
        <p class="icon is-large"><span class="fa-lg"><i class="{{celciusToIcon latestReading.temperature}}"></i></span></p>
        <br>
        Current: {{latestReading.temperature}} &degC / {{celciusToFahrenheit latestReading.temperature}} &degF <div class="icon"><div class="fa-lg"><i class="{{tempTrend}}"></i></div></div>
        <br>
        Max: {{maxTemp}} &degC / {{celciusToFahrenheit maxTemp}} &degF<br>
        Min: {{minTemp}} &degC / {{celciusToFahrenheit minTemp}} &degF<br>
      </td>
      <td>
        {{windChill latestReading.temperature latestReading.windspeed}} &degC
      </td>
      <td>
        Current: {{latestReading.windspeed}} km/h / {{beaufort latestReading.windspeed}} Bft <div class="icon"><div class="fa-lg"><i class="{{windTrend}}"></i></div></div>
        <br> 
        Max: {{maxWind}} km/h / {{beaufort maxWind}} Bft<br>
        Min: {{minWind}} km/h / {{beaufort minWind}} Bft<br>

      </td>

      <td>
        {{latestReading.winddirection}}
        <br>
        {{degreesToCompass latestReading.winddirection}}
      </td>
      <td>
        Current: {{latestReading.pressure}} <div class="icon"><div class="fa-lg"><i class="{{pressureTrend}}"></i></div></div>
        <br>
        Max: {{maxPressure}} /
        Min: {{minPressure}}<br>

      </td>
</tbody>
</table>

{{/if}}