{{> menu}}

<section class="section">
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="title">
        {{station.name}} {{> icons/location}}
        <hr>
        <h3 class="is-size-4">Latitude: {{station.latitude}} &degN</h3>
        <h3 class="is-size-4">Longitude: {{station.longitude}} &degE</h3>
      </div>
    </div>
    <div class="column is-auto">

    </div>


    {{#if noReadings}}
    <div class="column is-four-fifths">
      <h3 class="title is-4 has-text-centered">No Readings available for {{station.name}}</h3>
      <p class="has-text-centered">Please enter details of new reading below</p>
      <br>
    </div>
    {{else}}
    {{> station-weather-report}}
  </div>
  {{> temp-chart}}

  <h3 class="title is-4">All Readings:</h3>
  {{> list-readings}}
  {{/if}}


</section>
  {{> add-reading}}