{{> menu}}

<section class="section">
    <div class="title">
        {{station.name}}
    </div>

{{#if noReadings}}
<h3 class="title is-4 has-text-centered">No Readings available for {{station.name}}</h3>
<p class="has-text-centered">Please enter details of new reading below</p>
<br>
{{else}}
<h3 class="title is-4">Latest Reading for {{station.name}}:</h3>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Weather Code</th>
      <th>Temperature (&degC)</th>
      <th>(&degF)</th>
      <th>Feels Like (&degC)</th>
      <th>Wind Speed (km/h)</th>
      <th>Bft</th>
      <th>Wind Direction (&deg)</th>
      <th>Pressure (hPa)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p class="icon"><i class="{{weatherIcon latestCode}}"></i></p>
        <br>
        <p>{{codeToText latestCode}}</p>
        <br>
        {{latestCode}}
      </td>
      <td>
        <p class="icon is-large"><span class="fa-lg"><i class="{{celciusToIcon temperature}}"></i></span></p>
        <br>
        Current: {{latestTemperature}} &degC <div class="icon"><div class="fa-lg"><i class="{{tempTrend}}"></i></div></div>
        <br>
        Max: {{maxTemp}} &degC<br>
        Min: {{minTemp}} &degC<br> 
      </td>
      <td>
        {{celciusToFahrenheit latestTemperature}}
      </td>
      <td>
        {{windChill latestTemperature latestWindSpeed}}
      </td>
      <td>
        Current: {{latestWindSpeed}} <div class="icon"><div class="fa-lg"><i class="{{windTrend}}"></i></div></div>
        <br>
        Max: {{maxWind}}<br>
        Min: {{minWind}}<br>
      </td>
      <td>
        {{beaufort latestWindSpeed}}
      </td>
      <td>
        {{latestWindDirection}}
        <br>
        {{degreesToCompass latestWindDirection}}
      </td>
      <td>
        Current: {{latestPressure}} <div class="icon"><div class="fa-lg"><i class="{{pressureTrend}}"></i></div></div>
        <br>
        Max: {{maxPressure}}<br>
        Min: {{minPressure}}<br>
      </td>
    </tr>
  </tbody>
</table>

<h3 class="title is-4">All Readings:</h3>
    {{> list-readings}}
{{/if}}

    {{> add-reading}}
</section>